<!DOCTYPE html>
<html lang="en">
<head>
    <title>创建文章 —— 我的技术博客</title>
</head>
<body>
<form action="{{.URL}}" method="post">
    <p><input type="text" name="title"></p>
    <p><textarea name="body" cols="30" rows="10"></textarea></p>
    <p><button type="submit">提交</button></p>
</form>
</body>
</html>