{{define "main"}}
    <div class="col-md-9 blog-main">

        <div class="blog-post bg-white p-5 rounded shadow mb-4">
            <h3 class="blog-post-title">{{ .atricle.Title }}</h3>
            <p class="blog-post-meta text-secondary">发布于 <a href="" class="font-weight-bold">2020-09-05</a> by <a
                        href="#" class="font-weight-bold">Aron</a></p>

            <hr>
            {{ .article.Body }}
        </div><!-- /.blog-post -->
    </div>

{{end}}